<div class="signup-container">
  <mat-card class="signup-card">
    <h2 class="title">Forget Password</h2>

    <form [formGroup]="forgetForm" (ngSubmit)="submit()">

      <mat-form-field appearance="outline" class="full">
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" placeholder="Enter your email">
        <mat-error *ngIf="forgetForm.get('email')?.invalid">Valid email required</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full" *ngIf="otpSent">
        <mat-label>OTP</mat-label>
        <input matInput type="number" formControlName="otp" placeholder="Enter OTP">
        <mat-error *ngIf="forgetForm.get('otp')?.invalid">OTP needed</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline" class="full" *ngIf="otpSent" >
        <mat-label>New Password</mat-label>
        <input matInput type="password" formControlName="newPassword" placeholder="Minimum 6 characters">
        <mat-error *ngIf="forgetForm.get('password')?.invalid">Minimum 6 characters</mat-error>
      </mat-form-field>

      

      <div class="button-group">
        <button mat-raised-button color="primary" type="button" (click)="generateOtp()" class="otp-btn">
          Send OTP
        </button>

        <button mat-raised-button color="primary" type="submit" [disabled]="forgetForm.invalid" class="submit-btn">
          Change Password
        </button>
      </div>

      <p class="login-link">
        login with password <a routerLink="/login">Login</a>
      </p>

    </form>
  </mat-card>
</div>
